<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Pasos finales</title>
    <link rel="icon" href="logo.png" type="image/png">
</head>
<body>
    <main>
        <form>
            <label for="uuid">UUID</label><br>
            <input type="text" name="uuid" id="uuid" required><br><br>
        </form>
        <button type="button" class="call-to-action" onclick="handleSubmit()">Finalizar</button>
    </main>
    <script src="scripts/uuid.js"></script>
</body>
</html>