<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Inicio</title>
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="logo"></div>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li>Explorar</li>
            <li>Notificaciones</li>
            <li>Mensajes</li>
            <li>Guardados</li>
            <li id="personal-info"></li>
            <li>Más opciones</li>
        </ul>
        
    </nav>
    <main>
        <div class="header"></div>
        <div class="addpost">
            <form id="create-post" onsubmit="event.preventDefault()">
                <label for="title">Titulo</label><br>
                <input type="text" name="title" id="title" required><br>
                <label for="body">Que piensas?</label><br>
                <textarea name="body" id="body" cols="30" rows="8" required></textarea><br><br>
            </form>
            <button form="create-post" type="submit" onclick="handleSubmit()">Publicar</button>
        </div>
        
    </main>
    <footer>
        <div class="search">
            <form id="search" onsubmit="event.preventDefault()">
                <input type="text" name="search-field" id="search-field" required>
            </form>
            <button type="submit" form="search" onclick="search()">Buscar</button>
        </div>
        <div class="main" id="main-container">
        </div>
        <div class="recomended-users"></div>
        <div class="tendency"></div>
        <div class="footer"></div>
    </footer>
    <script src="scripts/home.js"></script>
</body>
</html>