<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Inicio</title>
    <script src="scripts/posts.js"></script>
</head>
<body>
    <nav>
        <div class="logo"></div>
        <ul>
            <li>Inicio</li>
            <li>Explorar</li>
            <li>Notificaciones</li>
            <li>Mensajes</li>
            <li>Guardados</li>
            <li>Perfil</li>
            <li>Más opciones</li>
        </ul>
    </nav>
    <main>
        <div class="header"></div>
        <div class="addpost">
            <form id="create-post" onsubmit="event.preventDefault()">
                <label for="title">Titulo</label><br>
                <input type="text" name="title" id="title" required><br>
                <label for="body">Que piensas?</label><br>
                <textarea name="body" id="body" cols="30" rows="8" required></textarea><br><br>
            </form>
            <button form="create-post" type="submit" onclick="handleSubmit()">Publicar</button>
        </div>
        <div class="posts" id="posts">

        </div>
    </main>
    <footer>
        <div class="search"></div>
        <div class="recomended-users"></div>
        <div class="tendency"></div>
        <div class="footer"></div>
    </footer>
</body>
</html>