<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Home</title>
</head>
<body>
    <nav>
        <div class="logo"></div>
        <ul>
            <li>Inicio</li>
            <li>Explorar</li>
            <li>Notificaciones</li>
            <li>Mensajes</li>
            <li>Guardados</li>
            <li>Perfil</li>
            <li>Más opciones</li>
        </ul>
    </nav>
    <main>
        <div class="header"></div>
    </main>
    <footer>
        <div class="search"></div>
        <div class="recomended-users"></div>
        <div class="tendency"></div>
        <div class="footer"></div>
    </footer>
</body>
</html>