<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - LogIn</title>
    <script src="scripts/login.js"></script>
</head>
<body>
    <header>
        <h1>LogIn</h1>
    </header>
    <main>
        <div class="login">
            <h2>Log In</h2>
            <form>
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="email" required><br>
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="password" required><br>
                <a href="identify">Forgot password?</a><br><br>
                <button type="button" class="call-to-action" onclick="handleClick()">Log In</button>
            </form>
            <br>
            <a href="signup" class="secondary-button">Create new account</a>
        </div>
    </main>
    <footer>
        Todos los derechos reservados
    </footer>
</body>
</html>