<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Perfil</title>
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <div class="logo"></div>
        <ul>
            <li><a href="../home">Inicio</a></li>
            <li>Explorar</li>
            <li>Notificaciones</li>
            <li>Mensajes</li>
            <li>Guardados</li>
            <li id="personal-info"></li>
            <li>Más opciones</li>
        </ul>
        
    </nav>
    <main>
        <div class="header"></div>
        <div class="profile">
            <div class="profile-background">
                <img class="img-bkgnd-profile" src="../<%=user.background%>" alt="backgrounds">
            </div>
            <div class="profile-foto">
                <div class="foto">
                    <img class="img-profile-foto" src="../<%=user.foto %>" alt="foto">
                </div>
            </div>
            <div class="edit-button">
                <button type="button">Editar Perfil</button>
            </div>
            <br><br>
            <div class="profile-details">
                <h2><%=user.name %></h2>
                <span class="uuid"><%=user.uuid %></span>
                <br><br>
                <div class="description">
                    <h4>Descripcion</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta itaque suscipit assumenda quia quas ratione omnis repellendus iure error. Laboriosam voluptate doloribus eos.</p>
                </div>
            </div>
                
            
            
        </div>
        
    </main>
    <footer>
        <div class="search">
            <form id="search" onsubmit="event.preventDefault()">
                <input type="text" name="search-field" id="search-field" required>
            </form>
            <button type="submit" form="search" onclick="search()">Buscar</button>
        </div>
        <div class="main" id="main-container">
        </div>
        <div class="recomended-users"></div>
        <div class="tendency"></div>
        <div class="footer"></div>
    </footer>
    <script src="../scripts/home.js"></script>
</body>
</html>