<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamDive - Registrarte</title>
    <link rel="icon" href="logo.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/signup.js"></script>
</head>
<body>
    <main>
        <div class="card">
            <div class="left">

            </div>
            <div class="right">
                <div class="create-account">
                    <span>Ya tienes una cuenta? </span>
                    <a href="/" class="btn-secondary">Inicia sesión</a>
                </div>
                <br>
                <h1>Registrate a DreamDive</h1>
                <p>Ingresa tu nombre nombre, fecha de nacimiento, correo y contraseña.</p>
                <br>
                <form id="signup" onsubmit="event.preventDefault()">
                    <label for="name">Nombre<span class="required">*</span></label><br>
                    <input type="text" name="name" id="name" required class="input-text"><br><br>
                    <label for="birth">Fecha de nacimiento<span class="required">*</span></label><br>
                    <input type="date" name="birth" id="birth" required class="input-text"><br><br><br>
                    <label for="email">Correo<span class="required">*</span></label><br>
                    <input type="email" name="email" id="email" required class="input-text"><br><br>
                    
                    <label for="password">Contraseña<span class="required">*</span></label><br>
                    <input type="password" name="password" id="password" required class="input-text"><br><br>
                    <label for="confirmPassword">Confirmar Contraseña<span class="required">*</span></label><br>
                    <input type="password" name="confirmPassword" id="confirmPassword" required class="input-text"><br>
        
                    <br>
                    <a class="btn" onclick="handleSubmit()">Registrarte</a>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <span>
            ©2024 DreamDive. Todos los derechos reservados
        </span>
    </footer>
</body>
</html>